body {
  font-family: Helvetica;
}

h1 {
    font-size: 100px;
    color: khaki;
    text-align: center;
    font-weight: bold;
}

.header {
  background-image: url("../pattern.jpeg");
}

.heading {
  font-size: 32px;
  color: white;
  font-weight: bold;
}

.green {
  background-color: mediumspringgreen;
}

.coral {
  background-color: lightcoral;
}

.skyblue {
  background-color: skyblue;
}

.highlight {
  color: blue;
  font-weight: bold;
}
